<sly data-sly-use.sectionObj="${'com.dxp.experience.studio.core.models.NavSectionModel'}">
 <sly data-sly-list.nav= "${sectionObj.navsection.listChildren}">
  <sly data-sly-test.author="${wcmmode.edit || wcmmode.design}">Start Section:${nav.sectionname}</sly>
<div id="${nav.sectionid}">
        <div data-sly-resource="${nav.sectionid @ resourceType='wcm/foundation/components/parsys'}"></div>
</div>
	<sly data-sly-test.author="${wcmmode.edit || wcmmode.design}">End Section:${nav.sectionname}</sly>
</sly>
</sly>

