<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-unwrap>
<sly data-sly-call="${clientlib.js @ categories='dxp-experience-studio.base'}" data-sly-unwrap/>
 <sly data-sly-call="${clientlib.js @ categories='dxp-experience-studio.voicecommand'}" /> 
 <sly data-sly-call="${clientlib.js @ categories='cq.authoring.dialog.dxp'}" />  
</sly>
 <script>
        window.onload = function () {
            Vue.use(VueAwesomeSwiper)
            var app = new Vue({
                el: '.app',
                name: "app",
                components: {
                    'banner': banner,
                    'staticimage': staticimage,
                    'carousel': carousel,
                    'app-card': AppCard,
                    'singlevideo': singlevideo,
                    'multivideo': multivideo,
                    'navigation': navigation,
                    'threed-slider': threeDSlider,
                    'gridvideo': gridvideo,
                    'performancenumberone': performancenumberone,
                    'performancenumberthree': performancenumberthree,
                    'footercomponent': footercomponent,
                    'team': team,
                    'voice-commands': VoiceCommands,
                    'appcomponentheading': appcomponentheading,
                     'videowithagenda': videowithagenda
                },
            })
        }
</script>