<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
      data-sly-call="${templates.placeholder @ isEmpty = !variation}">
</sly>
<sly data-sly-use.threedcardobj="com.dxp.experience.studio.core.models.ThreeDCardModel" data-sly-unwrap>
<div class="pad-top40">
            <threed-slider :dataref='{cards:${threedcardobj.threeDCardJson},
                variation: "${properties.variation}",
                type:"linear"
                }' />
        </div>
 </sly>
 <sly data-sly-test.author="${wcmmode.edit || wcmmode.design}">
 <script>
            Vue.use(VueAwesomeSwiper)
            var app = new Vue({
                el: '.app',
                name: "app",
                components: {
                   'threed-slider': threeDSlider
                },
            })
</script>
</sly>