<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
      data-sly-call="${templates.placeholder @ isEmpty = !backgroundImage, classAppend='cmp-carasoul'}">
</sly>
<sly data-sly-use.partnersobj="com.dxp.experience.studio.core.models.PartnerModel" data-sly-unwrap>

<div class="pad-top40">
                <partners :dataref='{
                    title:"${properties.title}",
                    content:"${properties.content}",
                    backgroundImage:"${properties.backgroundImage}",
                    partners:${partnersobj.getPartnerJsonObject}
                }' />
            </div>
 </sly>