<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
      data-sly-call="${templates.placeholder @ isEmpty = !type}">
</sly>
<sly data-sly-use.multicardobj="com.dxp.experience.studio.core.models.CardModel" data-sly-unwrap>
<div class="pad-top40">
            <app-card :dataref='{cards:${multicardobj.getCardJsonObject},
                                 variation: "${properties.variation}",
                                 type: ${multicardobj.getCardType}
                }' />
</div>
</sly>
 <sly data-sly-test.author="${wcmmode.edit || wcmmode.design}">
 <script>
            Vue.use(VueAwesomeSwiper)
            var app = new Vue({
                el: '.app',
                name: "app",
                components: {
                    'app-card': AppCard
                },
            })
</script>
</sly>

