<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
      data-sly-call="${templates.placeholder @ isEmpty = !heading }">
</sly>
<sly data-sly-use.teamObj="com.dxp.experience.studio.core.models.TeamModel">
<div class="pt-1">
            <team :dataref='{
                heading: "${properties.heading}",
                description: "${properties.description}",
                slides :${teamObj.getTeamJsonObject},
                flickityOptions: {
                    initialIndex: ${teamObj.getInitialIndexCount},
                    prevNextButtons: false,
                    pageDots: true,
                    wrapAround: true,
                    pauseAutoPlayOnHover: true,
                    selectedAttraction: 0.025,
                    setGallerySize: false,
                    dragThreshold: ${teamObj.getTotalItemCount}
                },
                carouselPos: 0,
                activeIndex: 0,
                isFirst: true,
                currSlide: "Security"
            }' />
        </div>
</sly>
<sly data-sly-test.author="${wcmmode.edit || wcmmode.design}">
 <script>
            Vue.use(VueAwesomeSwiper)
            var app = new Vue({
                el: '.app',
                name: "app",
                components: {
                   'team': team
                },
            })
</script>
</sly>